.text-stroke-effect {
	text-shadow: -1px 1px 0 rgb(255, 255, 255),
				  1px 1px 0 rgb(255, 255, 255),
				 1px -1px 0 rgb(167, 167, 167);
                -1px -1px 0 #000;
}

.content-section h2 {
    color: white;
}

.content-section p {
    color: white;
}

.top-recipe-img {
    width:560px;
    height:500px;
    object-fit: cover;
}

.masthead-small {
  min-height: 4rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hr-recipes {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 85%;
}


.recipe-title-wrapper {
    border: 3px solid red;
    width: 100%;
    margin: 20px auto;
    padding: 2rem;
}

.image-wrap {
    width:660px;
    height:500px;
    position: relative;
}

.recipe-page-img {
    width:660px;
    height:500px;
    object-fit: cover;
    position: absolute;
    bottom: 70px;
}

@media (max-width: 1200px){
    .recipe-page-img {
    width:495px;
    height:375px;
    object-fit: cover;
    position: absolute;
    bottom: 70px;
    }

    .image-wrap {
    width:495px;
    height:375px;
    position: relative;
}
}

@media (max-width: 767px){
    .recipe-page-img {
    width:360px;
    height:300px;
    object-fit: cover;
    position: absolute;
    bottom: 70px;
    }

    .image-wrap {
    width:360px;
    height:300px;
    position: relative;
}
}


.nav-social-item {
    margin-top: 50px;
}

