.text-stroke-effect {
	text-shadow: -1px 1px 0 rgb(255, 255, 255),
				  1px 1px 0 rgb(255, 255, 255),
				 1px -1px 0 rgb(167, 167, 167);
                -1px -1px 0 #000;
}

.content-section h2 {
    color: white;
}

.content-section p {
    color: white;
}

.top-recipe-img {
    width:560px;
    height:500px;
    object-fit: cover;
}