{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="masthead-small d-flex">
    <div class="container text-center my-auto">
        <h1 id="site-header-name" class="mb-1 text-stroke-effect">Eat Vegan</h1>
    </div>
    <div class="overlay"></div>
</header>

<h3 class="text-center page-header">Add Review</h3>


<div id="add-recipe-form-container" class="container">

    <div class="row">
            <div class="col d-flex flex-column align-items-center mt-5 mb-5">
                <h4>INSERT LOGO HERE</h4>
                <p>placeholder text placeholder text placeholder text placeholder text placeholder text</p>
            </div>
        </div>
    <div class="row">

        <!-- Form -->

        <form class="col" method="POST" action="{{ url_for('add_review', recipe_id=recipe._id) }}">

            <!-- recipe name -->

            <div class="row">
                <div class="col d-flex justify-content-center mb-3">
                    <h5>You are leaving a review for: {{ recipe.name }} by {{ recipe.added_by }}</h5>
                </div>
            </div>

            <!-- recipe review -->

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <h5>Recipe Review</h5>
                            <i class="fas fa-pencil-alt prefix"></i>
                            <textarea id="recipe_review" name="recipe_review" rows="5" cols="90"></textarea>
                            <label class="" for="recipe_review"></label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- recipe rating -->

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <h5>Recipe Rating - Out Of 5</h5>
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="recipe_rating" class="range" name="recipe_rating" type="range" min="0" max="5" required>
                            <output class="bubble"></output>
                            <label class="" for="recipe_rating"></label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- submit button -->

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button type="submit" id="submit" class="btn btn-large">
                        Submit Review <i class="fas fa-plus-square right"></i>
                    </button>
                </div>

            </div>

        </form>

    </div>
</div>


<!-- Call to Action Buttons -->
  <section class="content-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-12">View more of our community submitted recipes!</h2>
      <a href="{{ url_for('get_recipes') }}" class="btn btn-xl btn-light mt-3">Back To All Recipes!</a>
    </div>
  </section>


{% endblock %}