{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="masthead-small d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1 text-stroke-effect">Eat Vegan Recipes</h1>
    </div>
    <div class="overlay"></div>
</header>

<h3 class="text-center page-header">Add Recipe</h3>


<div id="add-recipe-form-container" class="container">

    <div class="row">
            <div class="col d-flex flex-column align-items-center">
                <h4>LOGO</h4>
                <p>fgjfslkghjfghjglkjsgjhkljghjklfp>sg</p>
            </div>
        </div>
    <div class="row">

        <!-- Form -->

        <form class="col" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- category selection-->

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <select id="category_name" name="category_name" class="form-control form-control-lg validate"
                        required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <label></label>
                </div>
            </div>

            <!-- recipe name -->

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text"
                                required>
                            <label class="" for="recipe_name">Recipe Name</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- recipe description -->

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="recipe_description" name="recipe_description" minlength="50" maxlength="200"
                                type="text" required>
                            <label class="" for="recipe_description">Short Recipe Description</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- recipe info -->

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="recipe_yield" name="recipe_yield" type="number" max="8" required>
                            <label class="" for="recipe_yield">Yield (Servings)</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="recipe_preptime" name="recipe_preptime" type="number" step="5" required>
                            <label class="" for="recipe_preptime">Preptime (minutes)</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="recipe_cooktime" name="recipe_cooktime" type="number" step="5" required>
                            <label class="" for="recipe_cooktime">Cooktime</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ingredients -->

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <div id="ingredient-inputs">
                                <div id="recipe_ingredient_1">
                                    <input id="ingredient_1" name="recipe_ingredient" type="text">
                                    <label class="" for="ingredient_1">Ingredients</label>
                                    <div class="border"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button onclick="add_ingredient()" type="button" form="ingredients" class="btn btn-large">
                                Add Ingredient <i class="fas fa-plus-square right"></i>
                            </button>
                            <button onclick="remove_ingredient()" type="button" form="ingredients"
                                class="btn btn-large">
                                Remove Ingredient <i class="fas fa-minus-square right"></i>
                            </button>
                            <button onclick="reset_ingredients()" type="button" form="ingredients" class="btn btn-large ">
                                Reset <i class="fas fa-minus-square right"></i>
                            </button>
                </div>
            </div>

            <!-- method -->
            <div class="row">
                <div class="col">
                    <h4 id="method-header" class="text-center">Method</h4>
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <textarea id="recipe_method" name="recipe_method" rows="5" cols="90"></textarea>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- image url -->

            <div class="row">
                <div class="col">
                    <div class="mat-input">
                        <div class="mat-input-outer">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="recipe_img_url" name="recipe_img_url" minlength="5" maxlength="200"
                                type="text" required>
                            <label class="" for="recipe_img_url">Image Url</label>
                            <div class="border"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- submit button -->

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button type="submit" id="submit" class="btn btn-large">
                        Submit Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>

            </div>


        </form>

    </div>
</div>


<!-- Call to Action Buttons -->
  <section class="content-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-12">View more of our community submitted recipes!</h2>
      <a href="{{ url_for('get_recipes') }}" class="btn btn-xl btn-light mt-3">Back To All Recipes!</a>
    </div>
  </section>


{% endblock %}