<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Vegan Recipes</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/stylish-portfolio.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav text-center">
            <li class="sidebar-brand text-left">
                <a class="js-scroll-trigger" href="{{ url_for('site_landing') }}">Eat Vegan</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="{{ url_for('site_landing') }}">HOME</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="{{ url_for('get_recipes') }}">ALL RECIPES</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="{{ url_for('get_recipes_filtered', category='breakfast') }}">BREAKFAST RECIPES</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="{{ url_for('get_recipes_filtered', category='lunch') }}">LUNCH RECIPES</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="{{ url_for('get_recipes_filtered', category='dinner') }}">DINNER RECIPES</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="{{ url_for('get_recipes_filtered', category='dessert') }}">DESSERT RECIPES</a>
            </li>
            {% if session.user %}
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('add_recipe') }}">ADD RECIPE</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('logout') }}">LOGOUT</a>
                </li>
            {% else %}
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('register') }}">REGISTER</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="{{ url_for('login') }}">LOGIN</a>
                </li>
            {% endif %}
            <li class="list-inline-item nav-social-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-facebook hvr-grow-small"></i>
                    </a>
                </li>
                <li class="list-inline-item nav-social-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item nav-social-item">
                    <a class="social-link rounded-circle text-white" href="#!">
                        <i class="icon-social-github"></i>
                    </a>
                </li>
        </ul>
    </nav>

    <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <div class="col d-flex justify-content-center bg-warning">
                        <h4 class="">{{ message }}</h4>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    </section>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#!">
                        <i class="icon-social-github"></i>
                    </a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; Eat Vegan Recipes <span id="copyright"></span></p>
        </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/stylish-portfolio.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Copytiright dynamic year for footer -->
    <script>$("#copyright").text(new Date().getFullYear());</script>
</body>

</html>