{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="masthead-small d-flex">
    <div class="container text-center my-auto">
        <a href="{{ url_for('home') }}"><h1 id="site-header-name" class="mb-1 text-stroke-effect page-header">Eat Vegan</h1></a>
    </div>
    <div class="overlay"></div>
</header>

<!-- Image -->
{% if recipe.img_url %}
    <div class="container">
        <div class="row" id="recipe-card">
            <div class="col p-0  d-flex justify-content-center ">
                <div class="image-wrap">
                    <img class="img-fluid recipe-page-img" src="{{ recipe.img_url }}" onerror="this.src='../static/img/missing-image-placeholder.jpg'">
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="container">

    <!-- Call to action buttons -->
    {% if user %}
        <div class="container">
            <div class="row" id="recipe-caption-row">
                <div id="recipe-caption" class="d-flex col justify-content-center">
                    <p id="recipe-image-overlay-text"><span class="vote-count">{{ recipe.votes }} </span><i class="fa fa-heart" aria-hidden="true"></i></p>
                    {% if username != recipe.added_by %}
                        <form method="POST" action="{{ url_for('add_recommendation', recipe_id=recipe._id) }}">
                            <button type="submit" id="submit-recommendation" class="font2 btn btn-small btn-primary recipe-btn">Like Recipe</button>
                        </form>
                    {% endif %}
                    {% if username == recipe.added_by %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" id="edit_recipe" class="font2 btn btn-small btn-edit recipe-btn">Edit Recipe</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" id="delete_recipe" class="font2 btn btn-small btn-delete recipe-btn">Delete Recipe</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Recipe Header -->

    <div class="container p-0">
        <div class="recipe-title-wrapper">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1 class="page-header">{{ recipe.name }}</h1>
                </div>
            </div>
            <div class=" row title-source">
                <div class="col d-flex justify-content-center byline-source">
                    <h4>By {{ recipe.added_by }}</h4>
                </div>
            </div>
            <div id="reviews-header" class="recipe-sidebar row">
                <div class="col d-flex flex-column align-items-center">
                    <div class="review-rating">
                        <p id="recipe-description" class="align-self-center">{{ recipe.short_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Recipe details -->
    <div id="recipe-detail-container" class="row">
        <div id="method-column" class="col-lg-8 pt-3 d-flex flex-column justify-content-start">
            <div class="directions-container">
                <h2 class="recipe-directions-header">Directions</h2>
                {% for step in recipe.method %}
                <p class="align-self-center recipe-method">{{ loop.index }}.   {{ step }}</p>
                {% endfor %}
            </div>
        </div>
        <div id="ingredient-column" class="col-lg-4 pt-3 order-first order-lg-last d-flex flex-column justify-content-start">
            <div class="info-container">
                <h2 class="recipe-stats-header">Info</h2>
                <p class="recipe-stats">Preptime - {{ recipe.recipe_info[1] }} minutes</p>
                <p class="recipe-stats">Cooktime - {{ recipe.recipe_info[2] }} minutes</p>
                <p class="recipe-stats">Serves - {{ recipe.recipe_info[0] }}</p>
            </div>
            <div class="ingredient-container">
                <h2 class="recipe-stats-header">Ingredients</h2>
                <ul id="recipe-ingredients" class="align-self-center">
                {% for item in recipe.ingredients %}
                    <li class="">{{ item }}</li>
                {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>

</div>

<!-- Reviews -->

<div class="container" id="reviews">
    <div class="row">
        <div class="col mt-3 d-flex justify-content-start">
            <h2>Reviews</h2>
        </div>
    </div>
    <hr class="review-break">
    {% for review in reviews %}
        <div class="row">
            <div class="col d-flex flex-column">
                <h3 class="review-header">Rating - {{ review.recipe_rating }} / 5 </h3> 
                <p class="font2">{{ review.recipe_review }}</p>
                <p class="font2">Added by: {{ review.added_by }}</p>
                <hr class="review-break">
            </div>
            {% if username == review.added_by %}
                <div class="col-lg-2 col-md-3 d-flex justify-content-end">
                    <a href="{{ url_for('delete_review', review_id=review._id, recipe_id=recipe._id) }}" class="font2 btn btn-small btn-delete-comment">Delete</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

<!-- Review Section -->


    <div id="add-review-container" class="container">

        <!-- Form -->

        <form class="col" method="POST" action="{{ url_for('add_review', recipe_id=recipe._id) }}">

            <!-- recipe review -->

            <div class="row">
                <div class="col">
                    <div class="">
                        <div class="">
                            <h4>Leave a Comment</h4>
                            <h6>Comment</h6>
                            <textarea id="recipe_review" name="recipe_review" rows="5" cols="90" required></textarea>
                            <label class="" for="recipe_review"></label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- recipe rating -->

            <div class="row">

                <div class="col-lg-8 d-flex justify-content-start">
                    <div class="mat-input" id="mat-input-rating">
                        <div class="mat-input-outer">
                            <h5>Rate the Recipe</h5>
                            <input id="recipe_rating" class="range" name="recipe_rating" type="range" min="0" max="5" required>
                            <output class="bubble"></output>
                            <label class="" for="recipe_rating"></label>
                        </div>
                    </div>
                </div>

            <!-- submit button -->

                <div class="col d-flex justify-content-center justify-content-lg-end">
                    <button type="submit" id="submit" class="font2 btn btn-large">
                        Add Comment & Rating
                    </button>
                </div>

            </div>

        </form>
    </div>


<!-- Call to Action Buttons -->
<section class="content-section bg-dark text-white">
    <div class="container text-center">
        {% if user %}
            <h2 class="font2-lg mb-12">View more of our community submitted recipes, or add your own recipe to the site.</h2>
        {% else %}
            <h2 class="font2-lg mb-12">Sign Up to Eat Vegan, to add and review our recipes.</h2>
        {% endif %}
        <div id="carouselExampleIndicators" class="carousel slide" data-interval="7000" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% if user %}
                        <a class="font2 btn btn-primary btn-xl js-scroll-trigger mt-3" href="{{ url_for('recipes') }}">See All Recipes</a>
                    {% else %}
                        <a href="{{ url_for('add_recipe') }}" class="font2 btn btn-xl btn-light js-scroll-trigger mt-3">Get Started</a>
                    {% endif %}
                </div>
                <div class="carousel-item">
                    {% if user %}
                        <a href="{{ url_for('add_recipe') }}" class="font2 btn btn-primary btn-xl js-scroll-trigger mt-3">Add Recipe</a>
                    {% else %}
                        <a class="font2 btn btn-primary btn-xl js-scroll-trigger mt-4" href="#top-recipes">See Our Top Rated Recipes</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}