{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="masthead-small d-flex">
    <div class="container text-center my-auto">
        <h1 id="site-header-name" class="mb-1 text-stroke-effect">Eat Vegan</h1>
    </div>
    <div class="overlay"></div>
</header>

<!-- Recipe Header -->

<div class="container">
    <div class="recipe-title-wrapper">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>{{ recipe.name }}</h1>
            </div>
        </div>
        <div class=" row title-source">
            <div class="col d-flex justify-content-center byline-source">
                <h4>By {{ recipe.added_by }}</h4>
            </div>
        </div>
        <div id="reviews-header" class="recipe-sidebar row">
            <div class="col d-flex flex-column align-items-center">
                <div class="review-rating">
                    <p>This recipe has been recommended (<span class="vote-count" itemprop="reviewCount">{{ recipe.votes }}</span>) times.</p>
                    <form method="POST" action="{{ url_for('add_recommendation', recipe_id=recipe._id) }}">
                        <button type="submit" id="submit-recommendation" class="btn btn-small btn-primary">Recommend this recipe
                        </button>
                    </form>
                </div>
                <a class="go-to-reviews btn-small btn btn-primary" href="#reviews">Go to reviews</a>
            </div>
        </div>
    </div>
</div>

<!-- Image & Description -->

<div class="container">
    <div class="row">
        <div class="col-lg-7 d-flex justify-content-center">
            <div class="image-wrap">
                <img class="img-fluid recipe-page-img" src="{{ recipe.img_url }}">
            </div>
        </div>
        <div id="recipe-info" class="col-lg-5 d-flex flex-column">
            <p id="recipe-description" class="align-self-center">{{ recipe.short_description }}</p>
            <ul id="recipe-ingredients"class="align-self-center">
                {% for item in recipe.ingredients %}
                    <li class="">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column justify-content-center">
            {% for step in recipe.method %}
            <p id="recipe-method" class="align-self-center">{{ step }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Reviews -->

<div class="container" id="reviews">
    <h2>All Reviews</h2>
    <hr class="review-break">
    {% for review in reviews %}
    <div class="row">
        <div class="col d-flex flex-column">
            <h3>{{ review.recipe_rating }} / 5 - Reviewed by: {{ review.added_by }}</h3>
            <p>{{ review.recipe_review }}</p>
            <hr class="review-break">
        </div>
    </div>
    {% endfor %}
</div>

{% if session.user %}
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a href="{{ url_for('add_review', recipe_id=recipe._id) }}" class="btn btn-xl btn-primary mb-4 mt-4">Add A Review</a>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a href="{{ url_for('login') }}" class="btn btn-lg btn-light mb-4 mt-4">Login/Sign Up To Add A Review</a>
        </div>
    </div>
{% endif %}


<!-- Call to Action Buttons -->
  <section class="content-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-12">View more of our community submitted recipes, or add your own recipe to the site. Get Started Below</h2>
      <a href="{{ url_for('get_recipes') }}" class="btn btn-xl btn-primary mt-3">Back To All Recipes!</a>
      <a href="{{ url_for('add_recipe') }}" class="btn btn-xl btn-primary mt-3">Add Recipe!</a>
    </div>
  </section>


{% endblock %}