{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="masthead-small d-flex">
    <div class="container text-center my-auto">
        <h1 id="site-header-name" class="mb-1 text-stroke-effect">Eat Vegan</h1>
    </div>
    <div class="overlay"></div>
</header>

<!-- Recipe Header -->

<div class="container">
    <div class="recipe-title-wrapper">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>{{ recipe.name }}</h1>
            </div>
        </div>
        <div class=" row title-source">
            <div class="col d-flex justify-content-start byline-source">
                <h4>By {{ recipe.id_name }}</h4>
            </div>
        </div>
        <div id="reviews-header" class="recipe-sidebar row">
            <div class="col d-flex flex-column align-items-end">
                <div class="review-rating">
                    <p>Likes (<span class="vote-count" itemprop="reviewCount">{{ recipe.votes }}</span>)</p>
                </div>
                <a class="go-to-reviews" href="#reviews" title="See all reviews">Go to reviews</a>
            </div>
        </div>
    </div>
</div>

<!-- Image & Description -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 d-flex justify-content-center">
            <div class="image-wrap">
                <img class="img-fluid recipe-page-img" src="{{ recipe.img_url }}">
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-column">
            <p id="recipe-description" class="align-self-center">{{ recipe.short_description }}</p>
            <ul id="recipe-ingredients"class="align-self-center">
                {% for item in recipe.ingredients %}
                    <li class="">{{ item }}</li>
                {% endfor %}
            </ul>
            <p id="recipe-method" class="align-self-center">{{ recipe.method }}</p>
        </div>
    </div>
</div>

<!-- Reviews -->

<div class="container">
    <div class="row" id="reviews">
        <div class="col d-flex flex-column">
            <h3>Review Title</h3>
            <p>Review contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview contentReview content</p>
        </div>
    </div>
</div>


<!-- Call to Action Buttons -->
  <section class="content-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-12">View more of our community submitted recipes, or add your own recipe to the site. Get Started Below</h2>
      <a href="{{ url_for('get_recipes') }}" class="btn btn-xl btn-light mt-3">Back To All Recipes!</a>
      <a href="{{ url_for('add_recipe') }}" class="btn btn-xl btn-light mt-3">Add Recipe!</a>
    </div>
  </section>


{% endblock %}