{% extends "base.html" %}
{% block content %}


<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1 text-stroke-effect">Eat Vegan</h1>
        <h3 class="mb-5">
            <em>A Place to Share, Try and Review Vegan Recipes</em>
        </h3>
        {% if user %}
            <a href="{{ url_for('add_recipe') }}" class="btn btn-primary btn-xl js-scroll-trigger mt-3">Add Recipe!</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger mt-3" href="{{ url_for('recipes') }}">See All Recipes</a>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary btn-xl js-scroll-trigger mt-4" href="#top-recipes">See Our Top Rated Recipes</a>
                </div>
            </div>
        {% else %}
            <a href="{{ url_for('add_recipe') }}" class="btn btn-xl btn-light js-scroll-trigger mt-3">Sign In</a>
            <a href="{{ url_for('add_recipe') }}" class="btn btn-xl btn-light js-scroll-trigger mt-3">Register</a>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary btn-xl js-scroll-trigger mt-4" href="#top-recipes">See Our Top Rated Recipes</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="overlay"></div>
</header>

<!-- Top Four Recipes -->
<section class="content-section bg-dark" id="top-recipes">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="text-secondary mb-0">FEATURED RECIPES</h2>
            <h2 class="mb-5 text-stroke-effect">These are our four top rated recipes!</h2>
        </div>
        <div class="row no-gutters">
            {% for recipe in top_recipes %}
            <div class="col-lg-6">
                <a class="portfolio-item" href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">
                    <div class="caption d-flex flex-column">
                        <div class="caption-content">
                            <div class="row">
                                <div id="recipe-caption-top-4" class="col-7">
                                    <div class="h2">{{ recipe.name }}</div>
                                    <p>Added By {{ recipe.added_by }}</p>
                                    <p>{{ recipe.category.capitalize() }}</p>
                                    <p class="mb-0">{{ recipe.short_description }}</p>
                                </div>
                                <div class="col-5">
                                    <div class="vote-caption d-flex flex-column">
                                        <p>This recipe has been recommended</p>
                                        <div><span>{{ recipe.votes }}</span></div>
                                        <p>times</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <img class="img-fluid top-recipe-img" src="{{recipe.img_url}}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Recipe Types -->
<section class="content-section bg-primary text-white text-center" id="recipes">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">RECIPES</h3>
            <h2 class="mb-5">Check Out Recipes Below</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <a href="{{ url_for('recipes', category='breakfast') }}">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="fas fa-bread-slice"></i>
                    </span>
                </a>
                <h4>
                    <strong>Breakfast</strong>
                </h4>
                <p class="text-faded mb-0">Great breakfast recipes for anyday of the week!</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <a href="{{ url_for('recipes', category='lunch') }}">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="fas fa-hamburger"></i>
                    </span>
                </a>
                <h4>
                    <strong>Lunch</strong>
                </h4>
                <p class="text-faded mb-0">Fresh recipes, great if your lunching or just fancy a snack.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <a href="{{ url_for('recipes', category='dinner') }}">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="fas fa-utensils"></i> </span>
                </a>
                <h4>
                    <strong>Dinner</strong>
                </h4>
                <p class="text-faded mb-0">Our most popular category! Take a browse.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="{{ url_for('recipes', category='dessert') }}">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="fas fa-ice-cream"></i> </span>
                </a>
                <h4>
                    <strong>Desserts</strong>
                </h4>
                <p class="text-faded mb-0">Our favorite section (we have a sweet tooth).</p>
            </div>
        </div>
    </div>
</section>


  <!-- Call to Action -->
  <section class="content-section bg-dark text-white">
    <div class="container text-center">
        {% if user %}
            <h2 class="mb-12">Add your own recipe to the site. Get Started Below</h2>
            <a href="{{ url_for('add_recipe') }}" class="btn btn-xl btn-light mt-3">Add Recipe!</a>
        {% else %}
            <h2 class="mb-12">Add your own recipe to the site. Get Started Below</h2>
            <a href="{{ url_for('add_recipe') }}" class="btn btn-xl btn-light mt-3">Sign In</a>
            <a href="{{ url_for('add_recipe') }}" class="btn btn-xl btn-light mt-3">Register</a>
        {% endif %}
    </div>
  </section>

{% endblock %}