{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="masthead d-flex">
    <div id="company-info-container" class="container my-auto">
        <h1 class="mb-5 text-stroke-effect page-header">Eat Vegan</h1>
        <h3 id="company-title-info" class="mb-5">
            A Place to Share, Try and Review Vegan Recipes
        </h3>


<div id="carouselExampleIndicators" class="carousel slide" data-interval="7000" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
        {% if user %}
            <a class="font2 btn btn-primary btn-xl js-scroll-trigger mt-3" href="{{ url_for('recipes') }}">See All Recipes</a>
        {% else %}
            <a href="{{ url_for('add_recipe') }}" class="font2 btn btn-xl btn-light js-scroll-trigger mt-3">Get Started</a>
        {% endif %}
    </div>
    <div class="carousel-item">
        {% if user %}
            <a href="{{ url_for('add_recipe') }}" class="font2 btn btn-primary btn-xl js-scroll-trigger mt-3">Add Recipe</a>
        {% else %}
            <a class="font2 btn btn-primary btn-xl js-scroll-trigger mt-4" href="#top-recipes">See Our Top Rated Recipes</a>
        {% endif %}
    </div>
    <div class="carousel-item">
        {% if user %}
            <a class="font2 btn btn-primary btn-xl js-scroll-trigger mt-4" href="#top-recipes">See Our Top Rated Recipes</a>
        {% else %}
            <a class="font2 btn btn-primary btn-xl js-scroll-trigger mt-3" href="{{ url_for('recipes') }}">See All Recipes</a>
        {% endif %}
    </div>
  </div>
</div>
        
    </div>
    <div class="overlay"></div>
</header>

<!-- Top Four Recipes -->
<section class="content-section bg-dark" id="top-recipes">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="text-secondary font2 mb-0">FEATURED RECIPES</h2>
            <h2 class="font2 mb-5">These are our four top rated recipes</h2>
        </div>
        <div class="row no-gutters">
            {% for recipe in top_recipes %}
            <div class="col-lg-6">
                <a onclick="" class="portfolio-item" href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">
                    <div class="caption d-flex flex-column">
                        <div class="caption-content">
                            <div class="row">
                                <div id="recipe-caption-top-4" class="col-6">
                                    <div class="font1 h2">{{ recipe.name }}</div>
                                    <p class="font2">{{ recipe.category.capitalize() }}</p>
                                </div>
                                <div class="col-6 d-flex flex-column justify-content-center">
                                    <div class="vote-caption d-flex flex-column">
                                        <div class="vote-div">
                                            <span>{{ recipe.votes }}</span>
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <img class="img-fluid top-recipe-img" src="{{recipe.img_url}}" alt="missing-recipe-image" onerror="this.src='../static/img/missing-image-placeholder2.jpg'">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Recipe Types -->
<section class="content-section bg-primary text-white text-center">
    <div class="container">
        <div class="content-section-heading">
            <h2 class="text-secondary font2 mb-0">RECIPES</h2>
            <h2 class="font2 mb-5">Choose Your Next Meal Below</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-3 mb-sm-0 mb-lg-0">
                <a href="{{ url_for('recipes', category='breakfast') }}">
                    {% if category == 'breakfast' %}
                    <span class="service-icon rounded-circle mx-auto mb-3 border-active">
                {% else %}
                    <span class="service-icon rounded-circle mx-auto mb-3">
                {% endif %}
                        <i class="fas fa-bread-slice category-icon"></i>
                    </span>
                </a>
                <h4 class="category-title text-secondary font2">
                    <strong>Breakfast</strong>
                </h4>
                <p class="text-faded mb-0 category-info font2">Great breakfast recipes for anyday of the week!</p>
            </div>
            <div class="col-lg-3 col-md-6 col-3 mb-sm-0 mb-lg-0">
                <a href="{{ url_for('recipes', category='lunch') }}">
                    {% if category == 'lunch' %}
                        <span class="service-icon rounded-circle mx-auto mb-3 border-active">
                    {% else %}
                        <span class="service-icon rounded-circle mx-auto mb-3">
                    {% endif %}
                            <i class="fas fa-hamburger category-icon"></i>
                        </span>
                </a>
                <h4 class="category-title text-secondary font2">
                    <strong>Lunch</strong>
                </h4>
                <p class="text-faded mb-0 category-info font2">Fresh recipes, great if your lunching or just fancy a snack.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-3 mb-sm-0 mb-md-0">
                <a href="{{ url_for('recipes', category='dinner') }}">
                    {% if category == 'dinner' %}
                        <span class="service-icon rounded-circle mx-auto mb-3 border-active">
                    {% else %}
                        <span class="service-icon rounded-circle mx-auto mb-3">       
                    {% endif %}
                            <i class="fas fa-utensils category-icon"></i>
                        </span>
                </a>
                <h4 class="category-title text-secondary font2">
                    <strong>Dinner</strong>
                </h4>
                <p class="text-faded mb-0 category-info font2">Our most popular category! Take a browse.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-sm-0 col-3">
                <a href="{{ url_for('recipes', category='dessert') }}">
                    {% if category == 'dessert' %}
                        <span class="service-icon rounded-circle mx-auto mb-3 border-active">
                    {% else %}
                        <span class="service-icon rounded-circle mx-auto mb-3">
                    {% endif %}
                            <i class="fas fa-ice-cream category-icon"></i>
                        </span>
                </a>
                <h4 class="category-title text-secondary font2">
                    <strong>Desserts</strong>
                </h4>
                <p class="text-faded mb-0 category-info font2">Our favorite section (we have a sweet tooth).</p>
            </div>
        </div>
    </div>
</section>


  <!-- Call to Action -->
  <section class="content-section bg-dark text-white">
    <div class="container text-center">
        {% if user %}
            <h2 class="font2-lg mb-12">Add your own recipe to the site. Get Started Below</h2>
            <a href="{{ url_for('add_recipe') }}" class="font2 btn btn-xl btn-light mt-3">Add Recipe</a>
        {% else %}
            <h2 class="mb-12">Sign Up to Eat Vegan, to add and review our recipes.</h2>
            <a href="{{ url_for('add_recipe') }}" class="font2 btn btn-xl btn-light mt-3">Get Started</a>
        {% endif %}
    </div>
  </section>

{% endblock %}